body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    width: 90%;
}

.segmento {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.frase {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
}

.digital {
    font-size: 24px;
    margin-top: 30px;
    font-weight: normal;
}
