* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Bloco do Topo - Fundo Preto, Letras Brancas */
.header-block {
    background-color: black;
    color: white;
    height: 35%; /* Ocupa um terço do ecrã */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px; /* Ajuste conforme necessário */
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

/* Bloco de Baixo - Conteúdo */
.content-block {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribui o espaço entre as frases */
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}

.main-phrase {
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    color: black;
}

.negrito {
    font-weight: 900;
}

.footer-digital {
    font-size: 30px;
    font-style: italic;
    color: black;
}
