body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    width: 95%;
}

/* 1ª Frase: Garrafal, Negrito e Sublinhada */
.segmento {
    font-size: 80px; /* Muito grande */
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1.1;
}

/* 2ª Frase: Tamanho intermédio */
.frase {
    font-size: 45px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1.2;
}

/* Classe auxiliar para o negrito dentro da 2ª frase */
.negrito {
    font-weight: 900;
}

/* 3ª Frase: Pequena e Itálico */
.digital {
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
}
