* { margin: 0; padding: 0; box-sizing: border-box; }
body, html { 
    width: 100%; 
    height: 100%; 
    background-color: white; 
    font-family: sans-serif; 
    overflow: hidden; 
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Faixas Pretas - Maximizadas */
.black-block {
    background-color: black;
    color: white;
    height: 30%; /* Aumentado para dar mais peso visual */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px; /* Letras enormes */
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    line-height: 0.9;
}

/* Área Central - Sem espaços vazios inúteis */
.content-block {
    height: 40%; /* O centro agora é mais focado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-phrase { 
    font-size: 80px; /* Quase o dobro do anterior */
    font-weight: 700;
    text-transform: uppercase; 
    text-align: center; 
    line-height: 1;
    color: black;
    margin-bottom: 10px;
}

.negrito { font-weight: 900; }

.footer-digital { 
    font-size: 40px; 
    font-style: italic; 
    color: #333;
}

/* Ajuste para o Curpio caber se for uma frase longa */
.footer-curpio { 
    font-size: 85px; 
}
