* { margin: 0; padding: 0; box-sizing: border-box; }
body, html { 
    width: 100%; 
    height: 100%; 
    background-color: white; 
    font-family: sans-serif; 
    overflow: hidden; 
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Faixas Pretas - Topo e Fundo */
.black-block {
    background-color: black;
    color: white;
    height: 22%; /* Reduzi de 30% para dar mais ar ao centro */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px; /* Reduzi de 100px para não bater nas bordas */
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    line-height: 1.1;
}

/* Área Central Branca */
.content-block {
    height: 56%; /* Ganhou mais espaço */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px; /* Espaço entre a frase e o relógio digital */
}

.main-phrase { 
    font-size: 60px; /* Reduzi de 80px para evitar sobreposição */
    font-weight: 700;
    text-transform: uppercase; 
    text-align: center; 
    line-height: 1.2; /* Aumentei o espaço entre linhas */
    color: black;
}

.negrito { font-weight: 900; }

.footer-digital { 
    font-size: 32px; 
    font-style: italic; 
    color: #333;
}

/* Bloco Curpio - Ajuste de escala */
.footer-curpio { 
    font-size: 55px; /* Reduzi de 85px para frases longas como "AMANHÃ NÃO HÁ" */
}
