body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
}

#container {
  text-align: center;
  padding-top: 60px;
}

/* LINHA 1 */
#periodo {
  font-size: 64px;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 50px;
}

/* LINHA 2 */
#horaTexto {
  font-size: 48px;
  margin-bottom: 30px;
}

#horaTexto .hora {
  font-weight: 900;
}

/* LINHA 3 */
#horaDigital {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 50px;
}

/* RELÓGIO ANALÓGICO */
#analogico {
  width: 180px;
  height: 180px;
  border: 4px solid black;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.ponteiro {
  position: absolute;
  width: 50%;
  height: 4px;
  background: black;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(90deg);
}

.ponteiro.horas {
  width: 35%;
  height: 6px;
}

.centro {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
